.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* padding-left: 1rem;
  padding-right: 1rem; */
  /* background-color: cornflowerblue; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* user css */

.navbar>li{
  color: red;
}
.btn{
  width: 7rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 10px;
  border: 2px red solid;
}
.navbar h1{
  text-align: left;
  font-family: cursive;
  padding-left: 3rem;
  
}
.navbar{
  display: grid;
  grid-template-columns: 20% 25% 10% 45%;
  justify-content: center;
  /* background-color: #1f2229; */
  background-color: #145BB3;
  border: 1px solid black;  
  color: aliceblue;
  position: sticky;
  top: 0rem;
  height: 80px;
  box-shadow: #284980;
}
#input{
  font-size: large;
  /* background-color: rgb(102, 183, 248); */
  height: 1px;
  width: 200px;
  padding: 1rem;
  border-radius: 11px;
  margin-top: 1.6rem;
  /* margin-left: 7rem; */
  margin-bottom: 1rem;
  color: rgb(255, 0, 0);
}
#btn{
  background-color: #191c20;
  height: 30px;
  width: 100px;
  border-radius: 11px;
  color: aliceblue;
  margin: 0.1rem;
  margin-top: 2rem;
  padding: 5px;
  border: 2px solid aliceblue;
}
.body{
  background-color: #284980;
  height: 660px;
  height: auto;
  border-radius: 15px;
  margin-top: 0.1rem;
  border: 1px solid aliceblue;
  padding: 1rem;
  justify-content: left;
  text-align: center;
  width: auto;
}
.result{
  background-color:rgb(0, 136, 136);
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  color: aliceblue;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: -38px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.result h2, .result img{
  text-align: left;
  width: 20rem;
  height: 180px;
}

.logoDiv{
  text-align: right;
  padding-right: 2rem;
}
.cards{
  /* background-color: #0d254b; */
  height: 300px;
  border-radius: 11px;
  margin: 1rem;
}
.flashScreen{
  margin-top: 10rem;
}
.category{
  display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10%;
        gap: 10px;
        height: 1.7rem;
        background-Color: black;
        position: sticky;
        top: 80px;
        color: red;
        text-Align: center;
        cursor: pointer;
}
.content h4{
  width: 50%;
  padding-left: 10px;
}



@media only screen and (max-width: 1000px) {
  .body h2{
    font-size: medium;
    margin-top: 0px;
  }
  .result{
  background-color:rgb(0, 136, 136);
  display: grid;
  gap: 3px;
  grid-template-columns: 100%;
  text-align: left;
  color: aliceblue;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: -38px;
  padding: 4px;
}
.result h2, .result img{
  text-align: left;
  width: 100%;
  height: 140px;
}
.result h3{
  font-size: x-small;
}
.top{
  font-size: small;
}
.content{
  font-size: 12px;
  padding: 0px;
}
.content h4{
width: 50%;
font-size: 8px;
}
.content button{
  margin-left: 185px;
}
#btn{
  background-color: #191c20;
  height: 30px;
  width: 60px;
  border-radius: 11px;
  color: aliceblue;
  margin: 0.1rem;
  margin-top: 2rem;
  padding: 5px;
  border: 2px solid aliceblue;
}
#input{
  font-size: large;
  height: 1px;
  width: 100px;
  padding: 1rem;
  border-radius: 11px;
  color: rgb(255, 0, 0);
}

.navbar h1{
  text-align: left;
  font-family: cursive;
  font-size: 24px;
  margin-top: 2px;
}
.navbar{
  display: grid;
  grid-template-columns: 30% 40% 20%;
  justify-content: left;
  background-color: #145BB3;
  border: 1px solid black;  
  color: aliceblue;
  position: sticky;
  top: 0px;
  height: 70px;
}
.category{
  display: grid;
  grid-template-columns: 8.5% 10.5% 18.8% 8.5% 11.5% 10%;
  font-size: 11px;
  padding-left: 1rem;
  height: 22px;
  top: 70px;
}
.flashScreen{
  font-size: medium;
}
}